#battery-icon {
  width: 30px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

#battery-level {
  background-color: green;
  height: 100%;
  width: 100%; 
  position: absolute;
  left: 0;
  top: 0;
}

#battery-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: white;
}

body {
  font-family: sans-serif;
}

#battery-container {
  width: 48px; /* Ajusta al tamaño de tu ícono */
  height: 48px; /* Ajusta al tamaño de tu ícono */
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#battery-percentage {
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  color: white;
}
